@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

 

/* body {
  
  font-family: 'Roboto', sans-serif;    
  color: #333;  
  padding: 0;
  margin: 0;
 
} */


.h1 {
 font-size: 25px;
}

.em {
  font-style:oblique;
  font-size:17px;
  display: flex;
  align-items: center;
  
}

.a {
  text-decoration: none;
  color: inherit;
} 


.slayout {
  display: flex;
  width: 100%;
  min-height: 100vh;  
  background-color: rgba(221, 225, 226, .7);
  margin-top: -1.2vw;
  
}

.slayout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.ssidebartrigger {
  
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 4em;
  padding: 0vw;
}

.ssidebartrigger > .i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
}

.ssidebarnav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all .3s ease-in;
  width: 15em;
  height: 100%;
  background: #243e56;
  color: rgba(255, 200, 200, 0.7);
}



.ssidebarnav:focus,
.ssidebartrigger:focus + .ssidebarnav
 {
  left: 0;
}

/*

.ssidebarnav:hover,
.ssidebarnav:focus,
.ssidebartrigger:focus + .ssidebarnav,
.ssidebartrigger:hover + .ssidebarnav {
  left: 0;
}

*/
.ssidebarnav .ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.ssidebarnav .ul .li {
  width: 100%;
  
}

.ssidebarnavlink {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0em;
  padding: 23px;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  
}

.ssidebarnavlink .em {
  position: absolute;
  top: 50%;
  left: 1.3em;
  transform: translateY(-50%);
}

.ssidebarnavlink:hover {
  background: #4d6276;
}

.ssidebarnavlink > .i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.ssidebarnavlink > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ssidebarnav {
  width: 15em;
  padding-top: 0vw;
}

@media (max-width: 42em) {
  .ssidebarnavlink {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0em;
    padding: 17px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    
  }

  .ssidebartrigger {
    
    color: #000000;
 }

 .ssidebarnav:focus,  
  .ssidebartrigger:focus {
    color: #ffffff;
  }

  
.slayout {
  display: flex;
  width: 102.9%;
  min-height: 100vh;  
  background-color: rgba(221, 225, 226, .7);
  margin-top: -2vw;
  margin-left: -1.5vw;
  padding-top: 13vw;
}


}
@media (min-width: 42em) {
  .slayoutcontent {
     margin-left: 4em;
     padding-top: 70px;
  }
  
  .ssidebarnavlink {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0em;
    padding: 18px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    
  }
  
  
  .ssidebartrigger {
     width: 3em;
     color: rgba(255, 255, 255, .7);
  }
  
  .ssidebarnav {
     width: 3em;
     left: 0;
     padding-top: 8.5vw;
     
  }
  
  
  .ssidebarnav:focus,  
  .ssidebartrigger:focus + .ssidebarnav {
     width: 15em;
  }

  
.slayout {
  display: flex;
  width: 100%;
  min-height: 100vh;  
  background-color: rgba(221, 225, 226, .7);
  margin-top: -2vw;
  margin-left: 0.5vw;
  
}



}

@media (min-width: 68em) {
  .slayoutcontent {
     margin-left: 15em;
  }
  
  .ssidebarnavlink {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0em;
    padding: 22px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    
  }
  
  
.ssidebartrigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 4em;
  background: #192b3c;
}
  

  .ssidebartrigger {
     display: none
  }
  
  .ssidebarnav {
     width: 15em;
     padding-top: 2vw;
  }
  
  .ssidebarnav .ul {
     top: 1.3em;
  }

  
.slayout {
  display: flex;
  width: 100.5%;
  min-height: 103vh;  
  background-color: rgba(221, 225, 226, .7);
  margin-top: -2vw;
  margin-left: 0vw;
  
}
.barrasup{
  display: none;
}

}

.tituloprinc{
  text-align: center;
  width: 75%;
  display: block;
  margin: auto;
  padding: 2.5vw;
  font-family: 'Roboto', sans-serif;
}

.titulint{
  padding: 2vw;
  font-family: 'Roboto', sans-serif;
}

.parrafo{
  padding: 2vw;
  width: 90%;
  display: block;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}


.barrasup{
  height: 60px;
  background-color: #ffffff;
  
  width: 99%;
  
  position: fixed;
  top: 0;
  z-index: 0;
  -webkit-box-shadow: 0px 9px 10px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 10px -9px rgba(0,0,0,0.75);
box-shadow: 0px 9px 10px -9px rgba(0,0,0,0.75);
}

.menubarr{
  
  width: 100%;
  position:absolute;
  left: 1vw;
  top: 1vw;
  padding: 1vw;
}

.logo{ 
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: right;
  width: 130px;
  height: 40px;  
  display: flex;    
  justify-content: right;
  flex-direction: column;
  flex-wrap:wrap;
  float: right;
  position: relative;
  right: 4vw;
  top: 2vw;
 }




 .principal{ 
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/front2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 101.5%;
  padding-left: 0vw;
  margin-left: -1vw;
  height: 70vh;  
  display: flex;      
  flex-direction: column;
  flex-wrap:wrap;
  
  
 }

 .logoheader{
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 200px;
  height: 80px;  
  display: flex;    
  justify-content: right;
  flex-direction: column;
  flex-wrap:wrap;
  
  position: relative;
  right: 4vw;
  top: 1vw;
 }


 .red1{
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/red1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 50px;
  height: 50px;  
  display: flex;    
  justify-content: right;
  flex-direction: row;
  flex-wrap:wrap;
  
  
 }

 
 .red2{
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/red2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 50px;
  height: 50px;  
  display: flex;    
  justify-content: right;
  flex-direction: row;
  flex-wrap:wrap;
  
 
 }

 
 .red3{
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/red3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 50px;
  height: 50px;  
  display: flex;    
  justify-content: right;
  flex-direction: row;
  flex-wrap:wrap;
  
  
 }

 .redesheader{
  display: flex;
  width: 70%;
 }
 
 .red4{
  background-image: url('https://raw.githubusercontent.com/villegas13/sidebar/master/pages/red4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;  
  width: 50px;
  height: 50px;  
  display: flex;    
  justify-content: right;
  flex-direction: row;
  flex-wrap:wrap;  
 
 }

 .headerprinc{
  height: 6vw;
  display: flex;
  justify-content: space-between;
 }